<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 contacts">
				<img src="../images/address.png">
				<h5>Address</h5>
				<p>King Street, Albama</p>
				<p>U.S.A</p>
			</div>
			<div class="col-md-4 contacts">
				<img src="../images/phone.png">
				<h5>Call Us</h5>
				<p>Mobile: +01 243344424</p>
				<p>Free Line: 123 456 222</p>
			</div>
			<div class="col-md-4 contacts">
				<img src="../images/email.png">
				<h5>Email</h5>
				<p>info@titan.com</p>
				<p>mail@titan.com</p>
			</div>

		</div>
	</div>
</footer>
<div class="footer-links">
	<div class="container">
		<div class="col-md-4 footer-links-left-wrapper">
			<p>Copyright © 2017 Titan. All rights are reserved</p>			
		</div>
		<div class="col-md-4 footer-links-social">
			<ul>
				<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
				<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
				<li><i class="fa fa-google-plus" aria-hidden="true"></i></li>

			</ul>
		</div>
		<div class="col-md-4 footer-links-right-wrapper">
			<ul>
				<li><a href="">License</a></li>
				<li><a href="">Terms of Use</a></li>
				<li><a href="">Get in touch</a></li>
			</ul>
		</div>
	</div>
</div>
