<header class="header">
	<div class="container">
		<div class="col-md-3">
			<img src="../images/logo.png" class="img-responsive">
		</div>
		<div class="col-md-8 col-md-offset-1 navigation">
			<div class="collapse navbar-collapse">
   	 			<div class="nav navbar-nav menu">
   	 				<div id="home" class="main-category-menu">
   	 					<div class="dropdown">
   	 						<a href="/homepage/" class="main-menu-item">HOME</a>
   	 					</div>
   	 				</div>
   	 				<div id="about" class="main-category-menu">
   	 					<div class="dropdown">
   	 						<a href="#" class="main-menu-item">ABOUT</a>
   	 					</div>
   	 				</div>
   	 				<div id="pricing" class="main-category-menu">
   	 					<div class="dropdown">
   	 						<a href="/pricing/" class="main-menu-item">PRICING</a>
   	 					</div>
   	 				</div>
   	 				<div id="contact" class="main-category-menu">
   	 					<div class="dropdown">
   	 						<a href="/contactus/" class="main-menu-item">CONTACT</a>
   	 					</div>
   	 				</div>
   	 			</div>
   	 			<div id="button"><a href="" class="main-menu-item">SCHEDULE CLEANING</a></div>
   	 		</div>
		</div>
	</div>
</header>