<div id="what-our-customers-say" class="img-responsive">
	<div class="container">
		<h1>WHAT OUR CUSTOMERS SAY?</h1>
		<div class="underline-image-div"><img src="{{ page.underline }}"></div>
		<div class="row">
			<div class="col-md-12 customer-section">
				<div class="col-md-3 col-md-offset-1 test">
						<div class="customer-image">
	        				<img src="../images/customers.png">	
	        			</div>
	        				<div class="service_text">
	        					<div class="services_description">
	        						<p>Cras mattis iudicium purus sit amet fermentum. Tu quoque, Brute, fili mi, nihil timor Magna pars studiorum, prodita </p>
	        					</div>
	        					<div class="services_author">
	        					 	<p>Randall Douglas</p>
	        					</div>
	        				</div>
					</div>
					<div class="col-md-3 test">
						<div class="customer-image">
	        				<img src="../images/customers.png">	
	        			</div>
	        				<div class="service_text">
	        					<div class="services_description">
	        						<p>Cras mattis iudicium purus sit amet fermentum. Tu quoque, Brute, fili mi, nihil timor Magna pars studiorum, prodita </p>
	        					</div>
	        					<div class="services_author">
	        					 	<p>Randall Douglas</p>
	        					</div>
	        				</div>
					</div>
					<div class="col-md-3 test">
						<div class="customer-image">
	        				<img src="../images/customers.png">	
	        			</div>
	        				<div class="service_text">
	        					<div class="services_description">
	        						<p>Cras mattis iudicium purus sit amet fermentum. Tu quoque, Brute, fili mi, nihil timor Magna pars studiorum, prodita </p>
	        					</div>
	        					<div class="services_author">
	        					 	<p>Randall Douglas</p>
	        					</div>
	        				</div>
					</div>
			</div>
		</div>

	</div>
</div>